<div id="" class="card p-3 text-center shadow border-1 border-light rounded-4 col-12 col-md-4 hidden-animation " style="width: 20rem;">
  <img src="" class="card-img-top rounded-4" alt="living">
  <div class="card-body ">
    <h5 class="card-title ">Living Room</h5>
    <p class="card-text text-muted">Some quick example text to build on the card title and make up  
      the bulk of the card's content.</p>
    <a href=""
      class="card-link link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ">Explore
      Ideas →</a>
  </div>
</div>