<!-- Charts Section -->
<hr class="my-5">

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sales Overview</h5>
                <canvas id="salesChart" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Users Overview</h5>
                <canvas id="userChart" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pruducts/Orders Overview</h5>
                <canvas id="productOrderChart" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>

</div>



