<div class="w-100 mb-3">
    <div class="card p-3 h-100 shadow border-1 border-light rounded-4  hidden-animation">
        <div class="card-body">
            <div class="row d-flex justify-content-between align-items-center text-nowrap">
            <h5 class=" col-12 col-md-9 card-title d-md-block"></h5>
            <p class="col-12 col-md-3"><strong>Status:</strong> <span class="badge bg-warning">Pending</span></p>
        </div>
            <p class="inquiry-date"></p>
            <p class="card-text"></p>
            <div>

                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inquiryModal1">View Inquiry</button>
                <button id="mark-resolved" class="btn btn-success d-none" >Mark as resolved</button>
            </div>
        </div>
    </div>
</div>


