<div class="container text-center py-5 hidden-animation from-z-animation">
    <h1 class="display-1 text-warning hidden-animation from-top-animation">404</h1>
    <h2 class="display-4 hidden-animation from-left-animation">No Products Found</h2>
    <p class="lead hidden-animation from-right-animation">Sorry, we couldn’t find any products that match your selection.</p>
    <a href="../pages/catalog.html" class="btn btn-primary btn-lg hidden-animation from-bottom-animation">Back to All Catalog</a>
  </div