<a href="#best-selling" class="col-12 d-flex list-group-item py-3 w-100 border rounded mb-2 shadow-sm">
    <div class="col-12 d-flex flex-column ">
        <div class=" d-flex flex-row gap-2 flex-lg-column flex-xl-row justify-content-start  ">
            <div class="">#<span class="number">1</span></div>
            <div class=""><p class="product-name h6">Product Name</p></div>
        </div>
        <p class="ps-2"><span class="units-sold align-self-end text-muted">2</span> Units</p>
    </div>
</a>