<a href="#recent-orders" class="list-group-item py-3 border rounded mb-2 shadow-sm">
    <div class="d-flex  justify-content-between align-items-center  flex-column ">
      <div class="align-self-start">
        <h6 class="mb-1 fw-bold ">Order #<span class="order-id text-break">123456</span></h6>
        <p class="mb-1 text-muted small order-date"> April 25, 2025</p>
      </div>
      <span class="badge align-self-end order-status"></span>
    </div>
    <div class="d-flex flex-lg-column flex-xl-row justify-content-between mt-2">
      <div class="text-muted small">
        <span class="order-item-count">3</span> items
      </div>
      <div class="fw-semibold ">
        $<span class="order-cost">89.99</span> 
      </div>
    </div>
</a>