<tr class="order-item text-break">
    <!-- <td>#<span class="order-id"></span></td> -->
    <td class="order-product-name overflow-x-hidden text-start text-break bg-transparent">Product Name</td>
    <td class="overflow-x-hidden text-start text-break bg-transparent"><span class="order-product-id text-wrap text-break"></span></td>
    <td class="order-date text-break bg-transparent">Date</td>
    <td class="text-center text-break bg-transparent py-4">
        <div class="order-status d-flex justify-content-center p-0 text-center align-items-center">

        </div>
    </td>
    <td class="order-product-amount text-center text-break bg-transparent">Amount</td>
    
    <td class="order-actions text-center text-break bg-transparent">
        <!-- <button class="btn  btn-success btn-sm order-accept-btn  small" title="Accept">
            <span class="small"><i class="fa fa-handshake text small "></i></span>
        </button> -->
        <button class="btn  btn-sm order-reject-btn small px-2 text-white rounded-2" style="background-color: #f42b2bfa; aspect-ratio: 1/1;" title="Reject Order">
            <span class="small"><i class="fa fa-xmark small"></i></span>
        </button>
    </td>
</tr>
<!-- <span class="small">Reject</span> -->
<!-- <span class="small">Reject</span> -->