<tr class="text-muted h5 table-break text-center py-1"   >
    <td colspan="4" class="text-center order-id-td bg-transparent">
        <span>OrderId #</span><span class="order-id">dag</span>
    </td>
    <td class="text-center btn-td bg-transparent py-1">
        <button class="btn  btn-success btn-sm order-accept-btn  small px-3" style="background-color: #27AE60;" title="Accept">
            <span class="small"><i class="fa fa-handshake text small "></i></span>
            <!-- <span class="small">Reject</span> -->
        </button>
    </td>
    <td class="text-center btn-td bg-transparent py-1">
        <button class="btn btn-sm order-reject-btn  small px-3 text-white" style="background-color: #E74C3C;" title="Reject All">
            <span class="small"><i class="bi-x-circle  "></i></span>
            <!-- <span class="small">Reject</span> -->
        </button>
    </td>
</tr>