<hr class="my-5">

<div class="input-group mb-3">
    <input type="text" class="form-control" id="searchInput" placeholder="Search by name... ">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
</div>
<div class="table-responsive">
    <table class="table">
        <thead class="table-dark">
            <tr class="p-2 text-center">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>

            </tr>
        </thead>    
        <tbody id="userTableBody">
            <!-- Rows go there -->
        </tbody>
    </table>
    
</div>